@font-face {
  font-family: 'agents';
  src: url('../fonts/agents.eot');
  src: url('../fonts/agents.eot?#iefix') format('embedded-opentype'), url('../fonts/agents.svg#agents') format('svg'), url('../fonts/agents.woff') format('woff'), url('../fonts/agents.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.filterList {
  width: 25%;
  margin-top: 13px;
}
.output {
  width: 70%;
}
.filterList,
.output {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .filterList,
  .output {
    display: block;
    width: auto;
  }
}
.filter {
  width: 100%;
  height: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  -webkit-transition: all .35s linear;
  transition: all .35s linear;
  opacity: 0;
}
.filter.animate {
  opacity: 1;
  height: 50px;
  margin-bottom: 5px;
}
.filter p {
  margin: 0 0 5px 0;
  color: #fff;
}
.filter:before {
  position: absolute;
  top: -15px;
  left: -10px;
  color: #fff;
  font-size: 50px;
  font-family: 'agents';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  opacity: .25;
}
.filter.ie {
  background: #1a4cbd;
}
.filter.ie:before {
  content: "\e001";
}
.filter.ff {
  background: #dc6f26;
}
.filter.ff:before {
  content: "\e000";
}
.filter.ch,
.filter.chM {
  background: #40ace8;
}
.filter.ch:before,
.filter.chM:before {
  content: "\e004";
}
.filter.sf,
.filter.sfM {
  background: #869abb;
}
.filter.sf:before,
.filter.sfM:before {
  content: "\e003";
}
.filter.op {
  background: #f0232a;
}
.filter.op:before {
  content: "\e002";
}
